
<h4 class="text-left">รายละเอียดรูปแบบ {{form.type}}</h4>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <h4 class="text-left text-center">รายละเอียด</h4>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group" ng-show="show.workType">
          <label for="workType">ประเภทงาน:</label>
          <select id="workType" class="form-control" ng-model="form.workType">
            <option value="ประตู">ประตู</option>
            <option value="หน้าต่าง">หน้าต่าง</option>
          </select>
        </div>
        <div class="form-group" ng-show="show.keyBuild">
          <label for="keyBuild">ติดตั้งกุญแจ:</label>
          <select id="keyBuild" class="form-control" ng-model="form.keyBuild">
            <option value="ไม่ติดตั้ง">ไม่ติดตั้ง</option>
            <option value="กุญแจธรรมดา">กุญแจธรรมดา</option>
            <option value="กุญแจขอสับ">กุญแจขอสับ</option>
          </select>
        </div>
        <div class="form-group" ng-show="show.keyBuild">
          <div class="checkbox">
            <label ng-model="form.keyCheck">
              <input type="checkbox"> ติดตั้งแบบเลื่อน 1 ข้าง Fix 1 ข้าง
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group has-feedback" ng-show="show.width">
          <label class="control-label" for="width">ความกว้าง(ซม.)</label>
          <input type="number" min="0" class="form-control" id="width" ng-model="form.width" aria-describedby="widthStatus">
          <span ng-show="status.widthStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span ng-show="status.widthStatus" id="widthStatus" class="sr-only">(success)</span>
          <span ng-hide="status.widthStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span ng-hide="status.widthStatus" id="widthStatus" class="sr-only">(error)</span>
        </div>
        <div class="form-group has-feedback" ng-show="show.height">
          <label class="control-label" for="height">ความสูง(ซม.)</label>
          <input type="number" min="0" class="form-control" id="height" ng-model="form.height" aria-describedby="heightStatus">
          <span ng-show="status.heightStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span ng-show="status.heightStatus" id="heightStatus" class="sr-only">(success)</span>
          <span ng-hide="status.heightStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span ng-hide="status.heightStatus" id="heightStatus" class="sr-only">(error)</span>
        </div>
        <div class="form-group has-feedback" ng-show="show.number">
          <label class="control-label" for="number">จำนวน</label>
          <input type="number" min="0" class="form-control" id="number" ng-model="form.number" aria-describedby="numberStatus">
          <span ng-show="status.numberStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span ng-show="status.numberStatus" id="numberStatus" class="sr-only">(success)</span>
          <span ng-hide="status.numberStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span ng-hide="status.numberStatus" id="numberStatus" class="sr-only">(error)</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group has-feedback" ng-show="show.lightTop">
          <label><input type="checkbox" ng-model="form.lightTopCheck"></label>
          <label class="control-label" for="width">ช่องแสงบน(ซม.)</label>
          <input type="number" min="0" class="form-control" id="width" ng-model="form.lightTop" aria-describedby="lightTopStatus">
          <span ng-show="status.lightTopStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span ng-show="status.lightTopStatus" id="lightTopStatus" class="sr-only">(success)</span>
          <span ng-hide="status.lightTopStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span ng-hide="status.lightTopStatus" id="lightTopStatus" class="sr-only">(error)</span>
        </div>
        <div class="form-group has-feedback" ng-show="show.lightBottom">
          <label><input type="checkbox" ng-model="form.lightBottomCheck"></label>
          <label class="control-label" for="width">ช่องแสงล่าง(ซม.)</label>
          <input type="number" min="0" class="form-control" id="width" ng-model="form.lightBottom" aria-describedby="lightBottomStatus">
          <span ng-show="status.lightBottomStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span ng-show="status.lightBottomStatus" id="lightBottomStatus" class="sr-only">(success)</span>
          <span ng-hide="status.lightBottomStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span ng-hide="status.lightBottomStatus" id="lightBottomStatus" class="sr-only">(error)</span>
        </div>
        <div class="form-group has-feedback" ng-show="show.lightLeft">
          <label><input type="checkbox" ng-model="form.lightLeftCheck"></label>
          <label class="control-label" for="width">ช่องแสงซ้าย(ซม.)</label>
          <input type="number" min="0" class="form-control" id="width" ng-model="form.lightLeft" aria-describedby="lightLeftStatus">
          <span ng-show="status.lightLeftStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span ng-show="status.lightLeftStatus" id="lightLeftStatus" class="sr-only">(success)</span>
          <span ng-hide="status.lightLeftStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span ng-hide="status.lightLeftStatus" id="lightLeftStatus" class="sr-only">(error)</span>
        </div>
        <div class="form-group has-feedback" ng-show="show.lightRight">
          <label><input type="checkbox" ng-model="form.lightRightCheck"></label>
          <label class="control-label" for="width">ช่องแสงขวา(ซม.)</label>
          <input type="number" min="0" class="form-control" id="width" ng-model="form.lightRight" aria-describedby="lightRightStatus">
          <span ng-show="status.lightRightStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span ng-show="status.lightRightStatus" id="lightRightStatus" class="sr-only">(success)</span>
          <span ng-hide="status.lightRightStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span ng-hide="status.lightRightStatus" id="lightRightStatus" class="sr-only">(error)</span>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <h4 class="text-left text-center">รายละเอียดเพิ่มเติม</h4>
      <div class=" col-md-4 col-sm-6 col-xs-12">
        <div class="form-group" ng-show="show.handType">
          <label for="handType">มือจับ:</label>
          <select id="handType" class="form-control" ng-model="form.handType">
            <option value="มือจับกระบอก">มือจับกระบอก</option>
          </select>
        </div>
      </div>
      <div class=" col-md-4 col-sm-6 col-xs-12">
        <div class="form-group" ng-show="show.corrugatedType">
          <label for="corrugatedType">เพิ่มฟูก:</label>
          <select id="corrugatedType" class="form-control" ng-model="form.corrugatedType">
            <option value="ไม่ติดตั้งฟูก">ไม่ติดตั้งฟูก</option>
            <option value="ติดตั้งฟูกกลอนใหญ่">ติดตั้งฟูกกลอนใหญ่</option>
            <option value="ติดตั้งฟูกเรียบ">ติดตั้งฟูกเรียบ</option>
          </select>
        </div>
        <div class="form-group has-feedback" ng-show="show.corrugatedHight">
          <label class="control-label" for="corrugatedHight">ความสูง:</label>
          <input type="text" class="form-control" id="corrugatedHight" ng-model="form.corrugatedHight" aria-describedby="corrugatedHightStatus">
          <span ng-show="status.corrugatedHightStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span ng-show="status.corrugatedHightStatus" id="corrugatedHightStatus" class="sr-only">(success)</span>
          <span ng-hide="status.corrugatedHightStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span ng-hide="status.corrugatedHightStatus" id="corrugatedHightStatus" class="sr-only">(error)</span>
        </div>
        <label class="radio-inline" ng-show="show.corrugatedBuild">
          <input type="radio" name="corrugatedBuild" id="corrugatedBuild1" value="ติดตั้งทั้งหมด" ng-model="form.corrugatedBuild" checked> ติดตั้งทั้งหมด
        </label>
        <label class="radio-inline" ng-show="show.corrugatedBuild">
          <input type="radio" name="corrugatedBuild" id="corrugatedBuild2" value="เฉพาะช่องลม" ng-model="form.corrugatedBuild"> เฉพาะช่องลม
        </label>
      </div>
      <div class=" col-md-4 col-sm-6 col-xs-12">
        <div class="form-group has-feedback" ng-show="show.meshesCol">
          <label class="control-label" for="meshesCol">ซอยลูกฝักแนวนอน:</label>
          <input type="number" min="0" class="form-control" id="meshesCol" ng-model="form.meshesCol" aria-describedby="meshesColStatus">
          <span ng-show="status.meshesColStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span ng-show="status.meshesColStatus" id="meshesColStatus" class="sr-only">(success)</span>
          <span ng-hide="status.meshesColStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span ng-hide="status.meshesColStatus" id="meshesColStatus" class="sr-only">(error)</span>
        </div>
        <div class="form-group has-feedback" ng-show="show.meshesRow">
          <label class="control-label" for="meshesRow">ซอยลูกฝักแนวตั้ง:</label>
          <input type="number" min="0" class="form-control" id="meshesRow" ng-model="form.meshesRow" aria-describedby="meshesRowStatus">
          <span ng-show="status.meshesRowStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span ng-show="status.meshesRowStatus" id="meshesRowStatus" class="sr-only">(success)</span>
          <span ng-hide="status.meshesRowStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span ng-hide="status.meshesRowStatus" id="meshesRowStatus" class="sr-only">(error)</span>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <h4 class="text-left text-center">อลูมิเนียม</h4>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group" ng-show="show.aluminumFrame">
          <label class="control-label" >ชนิดเฟรมอลูมิเนียม:</label>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumFrame" id="aluminumFrame1" value="0" ng-model="form.aluminumFrame" checked>
              เฟรมธรรมดา
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumFrame" id="aluminumFrame2" value="1" ng-model="form.aluminumFrame">
              เฟรมธรรมดา+กล่องเรียบ
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumFrame" id="aluminumFrame4" value="2" ng-model="form.aluminumFrame">
              กล่อง38มม.
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumFrame" id="aluminumFrame5" value="3" ng-model="form.aluminumFrame">
              กล่อง45มม.
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group" ng-show="show.aluminumColor">
          <label class="control-label" >สีอลูมิเนียม:</label>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumColor" id="aluminumColor1" value="2" ng-model="form.aluminumColor" checked>
              สีขาวธรรมชาติ
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumColor" id="aluminumColor2" value="1" ng-model="form.aluminumColor">
              สีชา
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumColor" id="aluminumColor3" value="3" ng-model="form.aluminumColor">
              สีดำ
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumColor" id="aluminumColor4" value="0" ng-model="form.aluminumColor">
              สีขาว
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumColor" id="aluminumColor5" value="4" ng-model="form.aluminumColor">
              สีลายไม้
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group" ng-show="show.aluminumThick">
          <label class="control-label" >ความหนาอลูมิเนียม(มม.):</label>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumThick" id="aluminumThick1" value="0" ng-model="form.aluminumThick" checked>
              1.0
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumThick" id="aluminumThick2" value="1" ng-model="form.aluminumThick">
              1.2
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumThick" id="aluminumThick3" value="2" ng-model="form.aluminumThick">
              1.5
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumThick" id="aluminumThick4" value="3" ng-model="form.aluminumThick">
              1.8
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumThick" id="aluminumThick5" value="4" ng-model="form.aluminumThick">
              2.0
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumThick" id="aluminumThick6" value="5" ng-model="form.aluminumThick">
              2.3
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="aluminumThick" id="aluminumThick7" value="6" ng-model="form.aluminumThick">
              2.5
            </label>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <h4 class="text-center">กระจก</h4>
      <div class=" col-md-4 col-sm-6 col-xs-12">
        <div class="form-group" ng-show="show.mirrorThick">
          <label class="control-label" >ความหนากระจก(มม.):</label>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorThick" id="mirrorThick1" value="5" ng-model="form.mirrorThick" checked>
              5
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorThick" id="mirrorThick2" value="6" ng-model="form.mirrorThick" checked>
              6
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorThick" id="mirrorThick3" value="8" ng-model="form.mirrorThick" checked>
              8
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorThick" id="mirrorThick4" value="10" ng-model="form.mirrorThick" checked>
              10
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorThick" id="mirrorThick5" value="12" ng-model="form.mirrorThick" checked>
              12
            </label>
          </div>
        </div>
      </div>
      <div class=" col-md-4 col-sm-6 col-xs-12">
        <div class="form-group" ng-show="show.mirrorColor">
          <label class="control-label" >สี-ชนิดกระจก</label>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorColor" id="mirrorColor1" value="ใส" ng-model="form.mirrorColor" checked>
              ใส
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorColor" id="mirrorColor2" value="ชา" ng-model="form.mirrorColor" checked>
              ชา
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorColor" id="mirrorColor3" value="เขียว" ng-model="form.mirrorColor" checked>
              เขียว
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorColor" id="mirrorColor4" value="ฟ้า" ng-model="form.mirrorColor" checked>
              ฟ้า
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorColor" id="mirrorColor5" value="ฝ้า" ng-model="form.mirrorColor" checked>
              ฝ้า
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorColor" id="mirrorColor6" value="ลายส้มฝ้า" ng-model="form.mirrorColor" checked>
              ลายส้มฝ้า
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorColor" id="mirrorColor7" value="เงา" ng-model="form.mirrorColor" checked>
              เงา
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorColor" id="mirrorColor8" value="โซลาเทคเขียว" ng-model="form.mirrorColor" checked>
              โซลาเทคเขียว
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorColor" id="mirrorColor9" value="โซลาเทคน้ำเงิน" ng-model="form.mirrorColor" checked>
              โซลาเทคน้ำเงิน
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorColor" id="mirrorColor10" value="เทมเปอร์ใส" ng-model="form.mirrorColor" checked>
              เทมเปอร์ใส
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="mirrorColor" id="mirrorColor11" value="เทมเปอร์เขียว" ng-model="form.mirrorColor" checked>
              เทมเปอร์เขียว
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="form-group">
      <button class="btn btn-primary" ng-click="submit()" ng-disabled="isSubmit">
        บันทึก
      </button>
      <button class="btn btn-default" ng-click="close()">
        ยกเลิก
      </button>
    </div>
  </div>
</div>
