<nav>
    <div class="nav-wrapper">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right">
        <li><a href=""><span class="new badge">4</span></a></li>
        </ul>
    </div>
</nav>
<ul id="slide-out" class="side-nav">
    <li><a class="subheader">Menu</a></li>
    <li><a class="waves-effect" ng-href="{{link.home}}">Home</a></li>
    <li><a class="waves-effect" ng-href="{{link.rtdata}}">Realtime -database</a></li>
    <li><a class="waves-effect" ng-href="{{link.noti}}">Notification</a></li>
    <li><a class="waves-effect" ng-href="{{link.vibration}}">Vibration</a></li>
    <li><a class="waves-effect" ng-href="{{link.gps}}">Gps</a></li>
    <li><div class="divider"></div></li>
</ul>

<script type="text/javascript">
    $('.button-collapse').sideNav({
        menuWidth: 300, // Default is 300
        edge: 'left', // Choose the horizontal origin
        closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
        draggable: true // Choose whether you can drag to open on touch screens
        }
    );
</script>