<dl class="dl-horizontal">
  <dt>ประเภท</dt>
  <dd>{{modal.type}}</dd>
  <dt>ประเภทงาน</dt>
  <dd>{{modal.workType}}</dd>
  <dt>ติดตั้งกุญแจ</dt>
  <dd>{{modal.keyBuild}}</dd>
  <dt>ติดตั้งแบบเลื่อน 1 ข้าง Fix 1 ข้าง</dt>
  <dd>{{modal.keyCheck}}</dd>
  <dt>ความกว้าง(ซม.)</dt>
  <dd>{{modal.width}}</dd>
  <dt>ความสูง(ซม.)</dt>
  <dd>{{modal.height}}</dd>
  <dt>จำนวน</dt>
  <dd>{{modal.number}}</dd>
  <dt>ช่องแสงบน(ซม.)</dt>
  <dd>{{modal.lightTop}}</dd>
  <dt>ช่องแสงล่าง(ซม.)</dt>
  <dd>{{modal.lightBottom}}</dd>
  <dt>ช่องแสงซ้าย(ซม.)</dt>
  <dd>{{modal.lightLeft}}</dd>
  <dt>ช่องแสงขวา(ซม.)</dt>
  <dd>{{modal.lightRight}}</dd>
  <dt>มือจับ</dt>
  <dd>{{modal.handType}}</dd>
  <dt>ชนิดเฟรมอลูมิเนียม</dt>
  <dd>{{modal.aluminumFrame}}</dd>
  <dt>สีอลูมิเนียม</dt>
  <dd>{{modal.aluminumColor}}</dd>
  <dt>ความหนาอลูมิเนียม(มม.)</dt>
  <dd>{{modal.aluminumThick}}</dd>
  <dt>ความหนากระจก(มม.)</dt>
  <dd>{{modal.mirrorThick}}</dd>
  <dt>สี-ชนิดกระจก</dt>
  <dd>{{modal.mirrorColor}}</dd>
</dl>
