<div class="row " style="margin-top: 40px;">
  <div class="col-md-4 col-md-offset-4">
    <div class="thumbnail text-center ">
      <img src="./web/resources/images/iwin180_logo.png">
      <h3>ไม่พบหน้าที่ต้องการ</h3>
    </div>
  </div>
</div>
<footer invokes="footer.invokes" delegates="footer.delegates" configs="footer.configs"></footer>
