<div class="row " style="margin-top: 40px;">
  <div class="col-md-4 col-md-offset-4">
    <div class="thumbnail text-center ">
      permissionDenide
    </div>
  </div>
</div>
<footer invokes="footer.invokes" delegates="footer.delegates" configs="footer.configs"></footer>
