<div class="row " style="margin-top: 40px;">
  <div class="col-md-4 col-md-offset-4">
    <div class="thumbnail text-center ">
      <img src="./web/resources/images/iwin180_logo.png">
      <h3>สมัครสมาชิกเสร็จสิ้น</h3>
      <a href="http://192.168.1.178/iwin180/angular/#!/login">กลับไปยังหน้า Login</a>
    </div>
  </div>
</div>
<footer invokes="footer.invokes" delegates="footer.delegates" configs="footer.configs"></footer>
