<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- header -->
      <h4 class="text-left">ค้นหาสมาชิกช่าง</h4>
      <!-- search -->
      <div class="row">
        <div class="col-xs-8 col-sm-3 col-md-3">
          <input type="text" class="form-control"ng-model="keyword" placeholder="ค้นหา">
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2">
          <button class="btn btn-primary" ng-click="search()">ค้นหา</button>
        </div>
      </div>
      <!-- list -->
      <h4 class="text-left">รายการสามาชิก (พบ {{numMembers}} รายการ)</h4>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th class="text-center">ชื่อ นามสกุล</th>
            <th class="text-center">ชื่อร้าน</th>
            <th class="text-center">อีเมล</th>
            <th class="text-center">เบอร์โทร</th>
            <th class="text-center">เบอร์โทรร้าน</th>
            <th class="text-center">รายละเอียด</th>
          </tr>
          <tr ng-repeat="member in members" >
            <td>{{member.name}} {{member.surname}}</td>
            <td>{{member.shop_name}}</td>
            <td>{{member.email}}</td>
            <td >{{member.tel}}</td>
            <td >{{member.tel_shop}}</td>
            <td class="text-center">
              <button class="btn btn-success" ng-click="detailMember(member)" data-toggle="modal" data-target="#creaftmanModal">
                <span class="glyphicon glyphicon-edit"></span>
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div class="text-right">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li ng-class="{disabled: currentPage == 1}" ng-click="clickPage(currentPage-1)"><a href="" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li ng-class="{active: i == currentPage}" ng-click="clickPage(i)" ng-repeat="i in pages"><a href="">{{i}}</a></li>
            <li ng-class="{disabled: currentPage == numPage}" ng-click="clickPage(currentPage+1)"><a href="" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
          </ul>
        </nav>
      </div>

      <!-- modal -->
      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="creaftmanModal" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
          <!-- modal content-->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">ข้อมูลช่าง</h4>
            </div>
            <div class="modal-body">
              <h4 class="text-left">ข้อมูลการสมัคร</h4>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label class="control-label" for="email">อีเมล*</label>
                    <input type="email" class="form-control" id="email" ng-model="form.email">
                  </div>
                </div>
              </div>
              <h4 class="text-left">ข้อมูลส่วนตัว</h4>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="control-label" for="name">ชื่อ*</label>
                    <input type="text" class="form-control" id="name" ng-model="form.name">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="control-label" for="surname">นามสกุล*</label>
                    <input type="text" class="form-control" id="surname" ng-model="form.surname">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="control-label" for="nickname">ชื่อเล่น*</label>
                    <input type="text" class="form-control" id="nickname" ng-model="form.nickname">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="control-label" for="tel">เบอร์โทรศัพท์*</label>
                    <input type="text" class="form-control" id="tel" ng-model="form.tel">
                  </div>
                </div>
              </div>
              <hr>
              <h4 class="text-left">ข้อมูลร้าน</h4>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="control-label" for="shop_name">ชื่อร้าน*</label>
                    <input type="text" class="form-control" id="shop_name" ng-model="form.shop_name">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="control-label" for="tel_shop">เบอร์โทรศัพท์ร้าน</label>
                    <input type="text" class="form-control" id="tel_shop" ng-model="form.tel_shop">
                  </div>
                </div>
              </div>
              <hr>
              <h4 class="text-left">สถานที่ที่ตั้ง</h4>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="control-label" for="address">ที่อยู่*</label>
                    <input type="text" class="form-control" id="address" ng-model="form.address">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="control-label" for="subDistrict">ตำบล/แขวง*</label>
                    <input type="text" class="form-control" id="subDistrict" ng-model="form.subdistrict">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="control-label" for="district">อำเภอ/เขต*</label>
                    <input type="text" class="form-control" id="district" ng-model="form.district">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label for="province">จังหวัด*</label>
                    <select id="province" class="form-control" ng-model="form.province">
                      <option value="กรุงเทพมหานคร">กรุงเทพมหานคร   </option>
                      <option value="กาญจนบุรี">กาญจนบุรี   </option>
                      <option value="กาฬสินธุ์">กาฬสินธุ์   </option>
                      <option value="กำแพงเพชร">กำแพงเพชร   </option>
                      <option value="ขอนแก่น">ขอนแก่น   </option>
                      <option value="จันทบุรี">จันทบุรี   </option>
                      <option value="ฉะเชิงเทรา">ฉะเชิงเทรา   </option>
                      <option value="ชลบุรี">ชลบุรี   </option>
                      <option value="ชัยนาท">ชัยนาท   </option>
                      <option value="ชัยภูมิ">ชัยภูมิ   </option>
                      <option value="ชุมพร">ชุมพร   </option>
                      <option value="ตรัง">ตรัง   </option>
                      <option value="ตราด">ตราด   </option>
                      <option value="ตาก">ตาก   </option>
                      <option value="นครนายก">นครนายก   </option>
                      <option value="นครปฐม">นครปฐม   </option>
                      <option value="นครพนม">นครพนม   </option>
                      <option value="นครราชสีมา">นครราชสีมา   </option>
                      <option value="นครศรีธรรมราช">นครศรีธรรมราช   </option>
                      <option value="นครสวรรค์">นครสวรรค์   </option>
                      <option value="นนทบุรี">นนทบุรี   </option>
                      <option value="นราธิวาส">นราธิวาส   </option>
                      <option value="น่าน">น่าน   </option>
                      <option value="บึงกาฬ">บึงกาฬ</option>
                      <option value="บุรีรัมย์">บุรีรัมย์   </option>
                      <option value="ปทุมธานี">ปทุมธานี   </option>
                      <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์   </option>
                      <option value="ปราจีนบุรี">ปราจีนบุรี   </option>
                      <option value="ปัตตานี">ปัตตานี   </option>
                      <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา   </option>
                      <option value="พะเยา">พะเยา   </option>
                      <option value="พังงา">พังงา   </option>
                      <option value="พัทลุง">พัทลุง   </option>
                      <option value="พิจิตร">พิจิตร   </option>
                      <option value="พิษณุโลก">พิษณุโลก   </option>
                      <option value="ภูเก็ต">ภูเก็ต   </option>
                      <option value="มหาสารคาม">มหาสารคาม   </option>
                      <option value="มุกดาหาร">มุกดาหาร   </option>
                      <option value="ยะลา">ยะลา   </option>
                      <option value="ยโสธร">ยโสธร   </option>
                      <option value="ร้อยเอ็ด">ร้อยเอ็ด   </option>
                      <option value="ระนอง">ระนอง   </option>
                      <option value="ระยอง">ระยอง   </option>
                      <option value="ราชบุรี">ราชบุรี   </option>
                      <option value="ลพบุรี">ลพบุรี   </option>
                      <option value="ลำปาง">ลำปาง   </option>
                      <option value="ลำพูน">ลำพูน   </option>
                      <option value="ศรีสะเกษ">ศรีสะเกษ   </option>
                      <option value="สกลนคร">สกลนคร   </option>
                      <option value="สงขลา">สงขลา   </option>
                      <option value="สตูล">สตูล   </option>
                      <option value="สมุทรปราการ">สมุทรปราการ   </option>
                      <option value="สมุทรสงคราม">สมุทรสงคราม   </option>
                      <option value="สมุทรสาคร">สมุทรสาคร   </option>
                      <option value="สระบุรี">สระบุรี</option>
                      <option value="สระแก้ว">สระแก้ว   </option>
                      <option value="สิงห์บุรี">สิงห์บุรี   </option>
                      <option value="สุพรรณบุรี">สุพรรณบุรี   </option>
                      <option value="สุราษฎร์ธานี">สุราษฎร์ธานี   </option>
                      <option value="สุรินทร์">สุรินทร์   </option>
                      <option value="สุโขทัย">สุโขทัย   </option>
                      <option value="หนองคาย">หนองคาย   </option>
                      <option value="หนองบัวลำภู">หนองบัวลำภู   </option>
                      <option value="อ่างทอง">อ่างทอง   </option>
                      <option value="อำนาจเจริญ">อำนาจเจริญ   </option>
                      <option value="อุดรธานี">อุดรธานี   </option>
                      <option value="อุตรดิตถ์">อุตรดิตถ์   </option>
                      <option value="อุทัยธานี">อุทัยธานี   </option>
                      <option value="อุบลราชธานี">อุบลราชธานี   </option>
                      <option value="เชียงราย">เชียงราย   </option>
                      <option value="เชียงใหม่">เชียงใหม่   </option>
                      <option value="เพชรบุรี">เพชรบุรี   </option>
                      <option value="เพชรบูรณ์">เพชรบูรณ์   </option>
                      <option value="เลย">เลย   </option>
                      <option value="แพร่">แพร่   </option>
                      <option value="แม่ฮ่องสอน">แม่ฮ่องสอน   </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label class="control-label" for="postcode">รหัสไปรษณี*</label>
                    <input type="text" class="form-control" id="postcode" ng-model="form.postcode">
                  </div>
                </div>
              </div>
              <hr>
              <ng-map id="gpsMap" ng-if="readyForGpsMap"  on-rightclick="clickMap($event)">
                <marker position="{{mk.lat}},{{mk.lng}}" title="({{mk.lat}},{{mk.lng}})" >
              </ng-map>
            </div>
            <div class="modal-footer">
              <div class="alert alert-danger" role="alert" ng-show="show.alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{alert}}
              </div>
              <div class="alert alert-success" role="alert" ng-show="show.sucess">
                {{alert}}
              </div>
              <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
              <button type="button" class="btn btn-primary" ng-click="editMember()">บันทึกการแก้ไข</button>
            </div>
            <!-- end modal content-->
          </div>
        </div>
      </div>
      <!-- end modal -->
      <!-- end -->
    </div>
  </div>
</div>

<footer invokes="footer.invokes" delegates="footer.delegates" configs="footer.configs"></footer>
