
<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- Header -->
      <h2 class="text-left">รหัสงาน: {{job.id_project}}</h2>
      <h3 class="text-left" ng-show="job.status=='sent'">สถานะ: รอการประมูลจากช่าง</h3>
      <h3 class="text-left" ng-show="job.status=='reply'">สถานะ: รอการตัดสินใจจากลูกค้า</h3>
      <h3 class="text-left" ng-show="job.status=='finish'">สถานะ: เสร็จสิ้น</h3>
      <h3 class="text-left" ng-show="job.status=='cancel'">สถานะ: ยกเลิก</h3>
      <h3 class="text-left" ng-show="job.status=='deal'">สถานะ: ดำเนินการสร้าง</h3>
      <!--  customer Information -->
      <h4 class="text-left">ข้อมูลลูกค้า</h4>
      <dl class="dl-horizontal">
        <dt>ไอดี</dt>
        <dd>{{job.project_member.id_member}}</dd>
        <dt>ชื่อ นามสกุล</dt>
        <dd>{{job.project_member.name}} {{job.project_member.surname}}</dd>
        <dt>เบอร์โทรศัพท์</dt>
        <dd>{{job.project_member.tel}}</dd>
        <dt>อีเมล</dt>
        <dd>{{job.project_member.email}}</dd>
        <dt>ที่อยู่</dt>
        <dd>{{job.project_member.address}} {{job.project_member.subdistrict}} {{job.project_member.distract}} {{job.project_member.province}} {{job.project_member.postcode}}</dd>
      </dl>

      <h4 class="text-left">ข้อมูลการติดต่อ </h4>
      <dl class="dl-horizontal">
        <dt>เบอร์โทรศัพท์</dt>
        <dd>{{job.contact_tel}}</dd>
        <dt>อีเมล</dt>
        <dd>{{job.contact_email}}</dd>
        <dt>ที่อยู่</dt>
        <dd>{{job.contact_address}} {{job.contact_subdistrict}} {{job.contact_distract}} {{job.contact_province}}</dd>
      </dl>
      <!--  table Information -->
      <h4 class="text-left">แบบโครงสร้างที่เลือกไว้</h4>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th class="text-center">รูปแบบ</th>
            <th class="text-center">ประเภท</th>
            <th class="text-center">กว้าง(ซม.)</th>
            <th class="text-center">สูง(ซม.)</th>
            <th class="text-center">จำนวน(ชุด)</th>
            <th class="text-center">ราคา(บาท)</th>
            <th class="text-center">รายละเอียด</th>
          </tr>
          <tr ng-repeat="structure in job.project_list_job">
            <td>{{structure.type}}</td>
            <td>{{structure.workType}}</td>
            <td>{{structure.width}}</td>
            <td>{{structure.height}}</td>
            <td>{{structure.number}}</td>
            <td>{{structure.cost}}</td>
            <td class="text-center">
              <button class="btn btn-info" ng-click="detailStructure(structure)" data-toggle="modal" data-target="#structureDetailModal">
                <span class="glyphicon glyphicon-th-list"></span>
              </button>
            </td>
          </tr>
        </table>
      </div>
      <!--  technicians Information -->
      <h4 class="text-left">รายการช่างที่เลือกไว้</h4>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th class="text-center">ชื่อร้าน</th>
            <th class="text-center">ชื่อผู้รับเหมา</th>
            <th class="text-center">รายละเอียด</th>
            <th class="text-center">ราคาประมูล</th>
            <th class="text-center">สถานะ</th>
          </tr>
          <tr ng-repeat="status in job.project_status">
            <td>{{status.list_craftman.shop_name}}</td>
            <td>{{status.list_craftman.name}}</td>
            <td class="text-center">
              <button class="btn btn-info" ng-click="detailCraftman(status.list_craftman)"  data-toggle="modal" data-target="#craftmanModal">
                <span class="glyphicon glyphicon-th-list"></span>
              </button>
            </td>
            <td ng-show="status.status == 'sent'" class="text-center">รอการตอบกลับราคา</td>
            <td ng-show="status.status != 'sent'" class="text-center">{{status.price}}</td>
            <td class="text-center">
              <span class="glyphicon glyphicon-time" aria-hidden="true" ng-show="status.status == 'reply' ||  status.status == 'sent'"></span>
              <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="status.status == 'deal' || status.status == 'finish'"></span>
              <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="status.status == 'reject' || status.status == 'cancel'"></span>
            </td>
          </tr>
        </table>
      </div>

      <!-- Start Modal craftman -->
      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="craftmanModal" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
          <!-- modal content craftman-->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">ข้อมูลช่าง</h4>
            </div>
            <div class="modal-body">
              <h4 class="text-left">ข้อมูลส่วนตัว</h4>
              <dl class="dl-horizontal">
                <dt>ชื่อ นามสกุล</dt>
                <dd>{{craftmanModal.name}} {{craftmanModal.surname}}</dd>
                <dt>เบอร์โทรศัพท์</dt>
                <dd>{{craftmanModal.tel}}</dd>
                <dt>อีเมล</dt>
                <dd>{{craftmanModal.email}}</dd>
              </dl>
              <h4 class="text-left">ข้อมูลร้าน</h4>
              <dl class="dl-horizontal">
                <dt>ชื่อร้าน</dt>
                <dd>{{craftmanModal.shop_name}}</dd>
                <dt>เบอร์โทรศัพท์ร้าน</dt>
                <dd>{{craftmanModal.tel_shop}}</dd>
                <dt>ที่อยู่</dt>
                <dd>{{craftmanModal.address}} {{craftmanModal.subdistrict}} {{craftmanModal.district}} {{craftmanModal.province}} {{craftmanModal.postcode}}</dd>
              </dl>
              <hr>
              <ng-map id="gpsMap" ng-if="readyForGpsMap">
                <marker position="{{mk.lat}},{{mk.lng}}" title="({{mk.lat}},{{mk.lng}})" >
              </ng-map>
            </div>
            <!-- end modal craftman-->
          </div>
        </div>
      </div>
      <!-- Modal craftman  -->

      <!-- Start Modal structure detail -->
      <div class="modal fade" id="structureDetailModal" tabindex="-1" role="dialog" aria-labelledby="structureDetailModal">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">รายละเอียดรูปแบบ</h4>
            </div>
            <div class="modal-body">
              <structure-detail invokes="structureDetail.invokes" delegates="structureDetail.delegates" configs="structureDetail.configs"></structure-detail>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Modal structure detail -->


    </div>
  </div>
</div>

<footer invokes="footer.invokes" delegates="footer.delegates" configs="footer.configs"></footer>
