<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>



<ul class="collection">
    <li class="collection-item avatar">
      <img src="./web/resources/images/2.png" alt="" class="circle">
      <span class="title">Title</span>
      <p>
          First Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="./web/resources/images/1.png" alt="" class="circle">
      <span class="title">Title</span>
      <p>
          First Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="./web/resources/images/3.png" alt="" class="circle">
      <span class="title">Title</span>
      <p>
          First Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
</ul>