<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Notification Token</span>
              <p style="overflow-wrap: break-word;">{{token}}</p>
            </div>
          </div>
        </div>
    </div>
</div>


<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
</div>

