
<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- Step header -->
      <h2 class="text-center">รายการแบบ</h2>
      <!-- Structure list -->
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2" ng-repeat="structure in structures">
          <div class="thumbnail">
            <img ng-src="{{structure.imgPath}}">
            <div class="caption">
              <p class="text-center">{{structure.name}}</p>
              <p class="text-center">
                <a href="{{structure.link}}" class="btn btn-primary" role="button">สร้างเเบบงาน</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer invokes="footer.invokes" delegates="footer.delegates" configs="footer.configs"></footer>
