
<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- Step header -->
      <h2 class="text-center">บานเลื่อนคู่</h2>
      <!-- Structure list -->
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <h4 class="text-left text-center">รายละเอียด</h4>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="form-group" >
                <label for="workType">ประเภทงาน:</label>
                <select id="workType" class="form-control" ng-model="form.workType">
                  <option value="ประตู">ประตู</option>
                  <option value="หน้าต่าง">หน้าต่าง</option>
                </select>
              </div>
              <div class="form-group">
                <label for="keyBuild">ติดตั้งกุญแจ:</label>
                <select id="keyBuild" class="form-control" ng-model="form.keyBuild">
                  <option value="ไม่ติดตั้ง">ไม่ติดตั้ง</option>
                  <option value="กุญแจธรรมดา">กุญแจธรรมดา</option>
                  <option value="กุญแจขอสับ">กุญแจขอสับ</option>
                </select>
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label ng-model="form.keyCheck">
                    <input type="checkbox"> ติดตั้งแบบเลื่อน 1 ข้าง Fix 1 ข้าง
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="form-group has-feedback">
                <label class="control-label" for="width">ความกว้าง(ซม.)</label>
                <input type="number" min="0" class="form-control" id="width" ng-model="form.width" aria-describedby="widthStatus">
                <span ng-show="status.widthStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="status.widthStatus" id="widthStatus" class="sr-only">(success)</span>
                <span ng-hide="status.widthStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span ng-hide="status.widthStatus" id="widthStatus" class="sr-only">(error)</span>
              </div>
              <div class="form-group has-feedback">
                <label class="control-label" for="height">ความสูง(ซม.)</label>
                <input type="number" min="0" class="form-control" id="height" ng-model="form.height" aria-describedby="heightStatus">
                <span ng-show="status.heightStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="status.heightStatus" id="heightStatus" class="sr-only">(success)</span>
                <span ng-hide="status.heightStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span ng-hide="status.heightStatus" id="heightStatus" class="sr-only">(error)</span>
              </div>
              <div class="form-group has-feedback">
                <label class="control-label" for="number">จำนวน</label>
                <input type="number" min="0" class="form-control" id="number" ng-model="form.number" aria-describedby="numberStatus">
                <span ng-show="status.numberStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="status.numberStatus" id="numberStatus" class="sr-only">(success)</span>
                <span ng-hide="status.numberStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span ng-hide="status.numberStatus" id="numberStatus" class="sr-only">(error)</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="form-group has-feedback">
                <label><input type="checkbox" ng-model="form.lightTopCheck"></label>
                <label class="control-label" for="width">ช่องแสงบน(ซม.)</label>
                <input type="number" min="0" class="form-control" id="width" ng-model="form.lightTop" aria-describedby="lightTopStatus">
                <span ng-show="status.lightTopStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="status.lightTopStatus" id="lightTopStatus" class="sr-only">(success)</span>
                <span ng-hide="status.lightTopStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span ng-hide="status.lightTopStatus" id="lightTopStatus" class="sr-only">(error)</span>
              </div>
              <div class="form-group has-feedback">
                <label><input type="checkbox" ng-model="form.lightBottomCheck"></label>
                <label class="control-label" for="width">ช่องแสงล่าง(ซม.)</label>
                <input type="number" min="0" class="form-control" id="width" ng-model="form.lightBottom" aria-describedby="lightBottomStatus">
                <span ng-show="status.lightBottomStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="status.lightBottomStatus" id="lightBottomStatus" class="sr-only">(success)</span>
                <span ng-hide="status.lightBottomStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span ng-hide="status.lightBottomStatus" id="lightBottomStatus" class="sr-only">(error)</span>
              </div>
              <div class="form-group has-feedback">
                <label><input type="checkbox" ng-model="form.lightLeftCheck"></label>
                <label class="control-label" for="width">ช่องแสงซ้าย(ซม.)</label>
                <input type="number" min="0" class="form-control" id="width" ng-model="form.lightLeft" aria-describedby="lightLeftStatus">
                <span ng-show="status.lightLeftStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="status.lightLeftStatus" id="lightLeftStatus" class="sr-only">(success)</span>
                <span ng-hide="status.lightLeftStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span ng-hide="status.lightLeftStatus" id="lightLeftStatus" class="sr-only">(error)</span>
              </div>
              <div class="form-group has-feedback">
                <label><input type="checkbox" ng-model="form.lightRightCheck"></label>
                <label class="control-label" for="width">ช่องแสงขวา(ซม.)</label>
                <input type="number" min="0" class="form-control" id="width" ng-model="form.lightRight" aria-describedby="lightRightStatus">
                <span ng-show="status.lightRightStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="status.lightRightStatus" id="lightRightStatus" class="sr-only">(success)</span>
                <span ng-hide="status.lightRightStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span ng-hide="status.lightRightStatus" id="lightRightStatus" class="sr-only">(error)</span>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <h4 class="text-left text-center">รายละเอียดเพิ่มเติม</h4>
            <div class=" col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="handType">มือจับ:</label>
                <select id="handType" class="form-control" ng-model="form.handType">
                  <option value="มือจับกระบอก">มือจับกระบอก</option>
                </select>
              </div>
            </div>
            <div class=" col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="corrugatedType">เพิ่มฟูก:</label>
                <select id="corrugatedType" class="form-control" ng-model="form.corrugatedType">
                  <option value="ไม่ติดตั้งฟูก">ไม่ติดตั้งฟูก</option>
                  <option value="ติดตั้งฟูกกลอนใหญ่">ติดตั้งฟูกกลอนใหญ่</option>
                  <option value="ติดตั้งฟูกเรียบ">ติดตั้งฟูกเรียบ</option>
                </select>
              </div>
              <div class="form-group has-feedback">
                <label class="control-label" for="corrugatedHight">ความสูง:</label>
                <input type="text" class="form-control" id="corrugatedHight" ng-model="form.corrugatedHight" aria-describedby="corrugatedHightStatus">
                <span ng-show="status.corrugatedHightStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="status.corrugatedHightStatus" id="corrugatedHightStatus" class="sr-only">(success)</span>
                <span ng-hide="status.corrugatedHightStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span ng-hide="status.corrugatedHightStatus" id="corrugatedHightStatus" class="sr-only">(error)</span>
              </div>
              <label class="radio-inline">
                <input type="radio" name="corrugatedBuild" id="corrugatedBuild1" value="ติดตั้งทั้งหมด" ng-model="form.corrugatedBuild" checked> ติดตั้งทั้งหมด
              </label>
              <label class="radio-inline">
                <input type="radio" name="corrugatedBuild" id="corrugatedBuild2" value="เฉพาะช่องลม" ng-model="form.corrugatedBuild"> เฉพาะช่องลม
              </label>
            </div>
            <div class=" col-md-4 col-sm-6 col-xs-12">
              <div class="form-group has-feedback">
                <label class="control-label" for="meshesCol">ซอยลูกฝักแนวนอน:</label>
                <input type="number" min="0" class="form-control" id="meshesCol" ng-model="form.meshesCol" aria-describedby="meshesColStatus">
                <span ng-show="status.meshesColStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="status.meshesColStatus" id="meshesColStatus" class="sr-only">(success)</span>
                <span ng-hide="status.meshesColStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span ng-hide="status.meshesColStatus" id="meshesColStatus" class="sr-only">(error)</span>
              </div>
              <div class="form-group has-feedback">
                <label class="control-label" for="meshesRow">ซอยลูกฝักแนวตั้ง:</label>
                <input type="number" min="0" class="form-control" id="meshesRow" ng-model="form.meshesRow" aria-describedby="meshesRowStatus">
                <span ng-show="status.meshesRowStatus" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="status.meshesRowStatus" id="meshesRowStatus" class="sr-only">(success)</span>
                <span ng-hide="status.meshesRowStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span ng-hide="status.meshesRowStatus" id="meshesRowStatus" class="sr-only">(error)</span>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <h4 class="text-left text-center">อลูมิเนียม</h4>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="aluminumFrame">ชนิดเฟรมอลูมิเนียม:</label>
                <select id="aluminumFrame" class="form-control" ng-model="form.aluminumFrame">
                  <option value="เฟรมธรรมดา">เฟรมธรรมดา</option>
                  <option value="เฟรมธรรมดา+กล่องเรียบ">เฟรมธรรมดา+กล่องเรียบ</option>
                  <option value="กล่อง38มม.">กล่อง38มม.</option>
                  <option value="กล่อง45มม.">กล่อง45มม.</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="aluminumColor">สีอลูมิเนียม:</label>
                <select id="aluminumColor" class="form-control" ng-model="form.aluminumColor">
                  <option value="สีขาวธรรมชาติ">สีขาวธรรมชาติ</option>
                  <option value="สีชา">สีชา</option>
                  <option value="สีดำ">สีดำ</option>
                  <option value="สีขาว">สีขาว</option>
                  <option value="สีลายไม้">สีลายไม้</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="aluminumThick">ความหนาอลูมิเนียม(มม.):</label>
                <select id="aluminumThick" class="form-control" ng-model="form.aluminumThick">
                  <option value="1.0">1.0</option>
                  <option value="1.2">1.2</option>
                  <option value="1.5">1.5</option>
                  <option value="1.8">1.8</option>
                  <option value="2.0">2.0</option>
                  <option value="2.3">2.3</option>
                  <option value="2.5">2.5</option>
                </select>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <h4 class="text-center">กระจก</h4>
            <div class=" col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="mirrorThick">ความหนากระจก(มม.):</label>
                <select id="mirrorThick" class="form-control" ng-model="form.mirrorThick">
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="8">8</option>
                  <option value="10">10</option>
                  <option value="12">12</option>
                </select>
              </div>
            </div>
            <div class=" col-md-4 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="mirrorColor">สี-ชนิดกระจก:</label>
                <select id="mirrorColor" class="form-control" ng-model="form.mirrorColor">
                  <option value="ใส">ใส</option>
                  <option value="ชา">ชา</option>
                  <option value="เขียว">เขียว</option>
                  <option value="ฟ้า">ฟ้า</option>
                  <option value="ฝ้า">ฝ้า</option>
                  <option value="ลายส้มฝ้า">ลายส้มฝ้า</option>
                  <option value="เงา">เงา</option>
                  <option value="โซลาเทคเขียว">โซลาเทคเขียว</option>
                  <option value="โซลาเทคน้ำเงิน">โซลาเทคน้ำเงิน</option>
                  <option value="เทมเปอร์ใส">เทมเปอร์ใส</option>
                  <option value="เทมเปอร์เขียว">เทมเปอร์เขียว</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="form-group">
            <button class="btn btn-primary" ng-click="submit()" ng-disabled="isSubmit">
              บันทึกใส่ตะกร้า
            </button>
            <button class="btn btn-default" ng-click="close()">
              ยกเลิก
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<footer invokes="footer.invokes" delegates="footer.delegates" configs="footer.configs"></footer>
