<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">

      <!-- header -->
      <h2 class="text-center">ตะกร้า</h2>
      <!-- Step 4 table Information -->
      <h4 class="text-left">แบบโครงสร้างที่เลือกไว้</h4>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th class="text-center">รูปแบบ</th>
            <th class="text-center">กว้าง(ซม.)</th>
            <th class="text-center">สูง(ซม.)</th>
            <th class="text-center">จำนวน(ชุด)</th>
            <th class="text-center">ราคา(บาท)</th>
            <th class="text-center">รายละเอียด</th>
            <th class="text-center">ลบ</th>
          </tr>
          <tr ng-repeat="structure in structures">
            <td>{{structure.type}}</td>
            <td>{{structure.width}}</td>
            <td>{{structure.height}}</td>
            <td>{{structure.number}}</td>
            <td>{{structure.cost}}</td>
            <td class="text-center">
              <button class="btn btn-info" ng-click="detail(structure)" data-toggle="modal" data-target="#structureDetailModal">
                <span class="glyphicon glyphicon-th-list"></span>
              </button>
            </td>
            <td class="text-center">
              <button class="btn btn-danger" ng-click="setNumberDelete($index)" data-toggle="modal" data-target="#confirmModal">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>
        </table>
      </div>
      <h3 class="text-right">ราคารวม: {{amountCost}}</h3>
      <div class="text-right" >
        <a ng-href="{{link.jobCreate}}" ng-show="show.chooseCraftman"><button class="btn btn-success">
          จ้างช่าง
        </button></a>
      </div>
      <!-- End -->

      <!-- Start Modal structure detail -->
      <div class="modal fade" id="structureDetailModal" tabindex="-1" role="dialog" aria-labelledby="structureDetailModal">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">รายละเอียดรูปแบบ</h4>
            </div>
            <div class="modal-body">
              <structure-detail invokes="structureDetail.invokes" delegates="structureDetail.delegates" configs="structureDetail.configs"></structure-detail>
            </div>
          </div>
        </div>
      </div>

      <!-- confirm  modal -->
      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="confirmModal" aria-labelledby="confirmModal">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-body">
              ยืนยันการลบโครงสร้าง
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" ng-click="delete()">ลบ</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<footer invokes="footer.invokes" delegates="footer.delegates" configs="footer.configs"></footer>
