
<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- Header -->
      <h2 class="text-left">รหัสงาน: {{job.id_project}}</h2>
      <h3 class="text-left" ng-show="job.status=='sent'">สถานะ: รอการประมูลจากช่าง</h3>
      <h3 class="text-left" ng-show="job.status=='reply'">สถานะ: รอการตัดสินใจจากลูกค้า</h3>
      <h3 class="text-left" ng-show="job.status=='finish'">สถานะ: เสร็จสิ้น</h3>
      <h3 class="text-left" ng-show="job.status=='cancel'">สถานะ: ยกเลิก</h3>
      <h3 class="text-left" ng-show="job.status=='deal'">สถานะ: ดำเนินการสร้าง</h3>
      <!-- Step 4 customer Information -->

      <h4 class="text-left">ข้อมูลการติดต่อ </h4>
      <dl class="dl-horizontal">
        <dt>เบอร์โทรศัพท์</dt>
        <dd>{{job.project_detail.contact_tel}}</dd>
        <dt>อีเมล</dt>
        <dd>{{job.project_detail.contact_email}}</dd>
        <dt>ที่อยู่</dt>
        <dd>{{job.project_detail.contact_address}} {{job.project_detail.contact_subdistrict}} {{job.project_detail.contact_distract}} {{job.project_detail.contact_province}}</dd>
      </dl>
      <!-- Step 4 table Information -->
      <h4 class="text-left">แบบโครงสร้างที่เลือกไว้</h4>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th class="text-center">รูปแบบ</th>
            <th class="text-center">ประเภท</th>
            <th class="text-center">กว้าง(ซม.)</th>
            <th class="text-center">สูง(ซม.)</th>
            <th class="text-center">จำนวน(ชุด)</th>
            <th class="text-center">ราคา(บาท)</th>
            <th class="text-center">รายละเอียด</th>
          </tr>
          <tr ng-repeat="structure in job.project_list_job">
            <td>{{structure.type}}</td>
            <td>{{structure.workType}}</td>
            <td>{{structure.width}}</td>
            <td>{{structure.height}}</td>
            <td>{{structure.number}}</td>
            <td>{{structure.cost}}</td>
            <td class="text-center">
              <button class="btn btn-info" ng-click="detailStructure(structure)" data-toggle="modal" data-target="#structureDetailModal">
                <span class="glyphicon glyphicon-th-list"></span>
              </button>
            </td>
          </tr>
        </table>
      </div>

      <!-- Button-->
      <div class="text-right">
        <button class="btn btn-success" data-toggle="modal" data-target="#replyJobModal" ng-show="show.replyButton">ประมูลราคา</button>
        <h3 ng-show="show.reReplyButton">ราคาได้ที่ส่งประมูล {{job.price}}</h3>
        <button class="btn btn-success" data-toggle="modal" data-target="#replyJobModal" ng-show="show.reReplyButton">แก้ไขราคาประมูลราคา</button>
      </div>

      <!-- Start Modal structure detail -->
      <div class="modal fade" id="structureDetailModal" tabindex="-1" role="dialog" aria-labelledby="structureDetailModal">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">รายละเอียดรูปแบบ</h4>
            </div>
            <div class="modal-body">
              <structure-detail invokes="structureDetail.invokes" delegates="structureDetail.delegates" configs="structureDetail.configs"></structure-detail>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Modal structure detail -->

      <!-- start confirm  modal -->
      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="replyJobModal" aria-labelledby="replyJobModal">
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-header">
              ประมูลราคา
            </div>
            <div class="modal-body">
              <div class="form-group">
                <div class="input-group">
                  <input type="number" min="0" class="form-control" placeholder="ราคาส่งประมูล" aria-describedby="priceBid" ng-model="priceBid">
                  <span class="input-group-addon" id="priceBid" >บาท</span>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="ความคิดเห็นเพิ่มเติม" ng-model="commentBid">
              </div>
            </div>
            <div class="modal-footer">
              <div class="alert alert-danger" role="alert" ng-show="show.alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                ไม่สามารถส่งประมูลได้ โปรดตรวจสอบข้อมูลที่กรอก
              </div>
              <button type="button" class="btn btn-success" ng-click="replyJob()">ส่งประมูล</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end confirm  modal -->
    </div>
  </div>
</div>

<footer invokes="footer.invokes" delegates="footer.delegates" configs="footer.configs"></footer>
