
<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>


<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- header -->
      <h4 class="text-left">สถานะแบบงาน</h4>
      <!-- list -->
      <h4 class="text-left">รายการสถานะแบบงาน (พบ {{numObjs}} รายการ)</h4>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th class="text-center">รหัสงาน</th>
            <th class="text-center">จำนวนแบบงาน</th>
            <th class="text-center">สร้างวันที่</th>
            <th class="text-center">สถานะ</th>
            <th class="text-center">รายละอียด</th>
          </tr>
          <tr ng-repeat="job in jobs" class="text-center">
            <td>{{job.id_project}}</td>
            <td>{{job.numberStructure}}</td>
            <td>{{job.project_detail.timestamp_created}}</td>
            <td ng-show="job.status=='sent'">รอการประมูลจากช่าง</td>
            <td ng-show="job.status=='reply'">รอการตัดสินใจจากลูกค้า</td>
            <td ng-show="job.status=='finish'">เสร็จสิ้น</td>
            <td ng-show="job.status=='cancel'">ยกเลิก</td>
            <td ng-show="job.status=='deal'">ดำเนินการสร้าง</td>
            <td class="text-center">
              <button class="btn btn-info" ng-click="detailJob(job)" data-toggle="modal" data-target="#creaftmanModal">
                <span class="glyphicon glyphicon-th-list"></span>
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div class="text-right">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li ng-class="{disabled: currentPage == 1}" ng-click="clickPage(currentPage-1)"><a href="" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li ng-class="{active: i == currentPage}" ng-click="clickPage(i)" ng-repeat="i in pages"><a href="">{{i}}</a></li>
            <li ng-class="{disabled: currentPage == numPage}" ng-click="clickPage(currentPage+1)"><a href="" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
          </ul>
        </nav>
      </div>
      <!-- end -->
    </div>
  </div>
</div>

<footer invokes="footer.invokes" delegates="footer.delegates" configs="footer.configs"></footer>
