<div class="row " style="margin-top: 40px;">
  <div class="col-md-4 col-md-offset-4">
    <div class="thumbnail text-center ">
      <img src="./web/resources/images/iwin180_logo.png">
      <div class="caption">
        <h3>เข้าสู่ระบบ</h3>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="อีเมล" ng-model="form.email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="รหัสผ่าน" ng-model="form.password">
        </div>
        <div class="alert alert-danger" role="alert" ng-show="show.alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{alert}}
        </div>
        <p><button class="btn btn-primary" ng-click="logIn()">เข้าสู่ระบบ</button></p>
        <!-- <b><a class="btn btn-primary" role="button"  >เข้าสู่ระบบ</a></p> -->
        <a href="{{link.register}}">สมัครสมาชิก</a>
      </div>
    </div>
  </div>
</div>
<footer invokes="footer.invokes" delegates="footer.delegates" configs="footer.configs"></footer>
