<div class="container" style="margin-top: 40px;">

  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class="text-center">สมัครสมาชิก</h2>
      <div class="alert alert-danger" role="alert" ng-show="show.alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{alert}}
      </div>
      <!-- Step 2 form -->
      <h4 class="text-left">ข้อมูลการสมัคร</h4>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="email">อีเมล*</label>
            <input type="email" class="form-control" id="email" ng-model="form.email">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="password">รหัส* (ต้องมากกว่า 8 ตัวอักษร)</label>
            <input type="password" class="form-control" id="password" ng-model="form.password">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="re-password">รหัสซ้ำอีกครั้ง*</label>
            <input type="password" class="form-control" id="re-assword" ng-model="form.rePassword">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="province">ประเภทการสมัคร*</label>
            <select id="province" class="form-control" ng-model="form.permission">
              <option value="craftman">ช่างประกอบการ</option>
              <option value="customer">ลูกค้า</option>
            </select>
          </div>
        </div>
      </div>
      <hr>
      <h4 class="text-left">ข้อมูลส่วนตัว</h4>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="name">ชื่อ*</label>
            <input type="text" class="form-control" id="name" ng-model="form.name">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="surname">นามสกุล*</label>
            <input type="text" class="form-control" id="surname" ng-model="form.surname">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="nickname">ชื่อเล่น*</label>
            <input type="text" class="form-control" id="nickname" ng-model="form.nickname">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="tel">เบอร์โทรศัพท์* (ตัวอย่าง 0XXXXXXXX)</label>
            <input type="text" class="form-control" id="tel" ng-model="form.tel">
          </div>
        </div>
      </div>
      <hr ng-show="show.shop">
      <h4 class="text-left" ng-show="show.shop">ข้อมูลร้าน</h4>
      <div class="row" ng-show="show.shop">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="shopName">ชื่อร้าน*</label>
            <input type="text" class="form-control" id="shopName" ng-model="form.shopName">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="telShop">เบอร์โทรศัพท์ร้าน (ตัวอย่าง 0XXXXXXXX)</label>
            <input type="text" class="form-control" id="telShop" ng-model="form.telShop">
          </div>
        </div>
      </div>
      <hr>
      <h4 class="text-left">สถานที่ที่ตั้ง</h4>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="address">ที่อยู่*</label>
            <input type="text" class="form-control" id="address" ng-model="form.address">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="subDistrict">ตำบล/แขวง*</label>
            <input type="text" class="form-control" id="subDistrict" ng-model="form.subdistrict">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="district">อำเภอ/เขต*</label>
            <input type="text" class="form-control" id="district" ng-model="form.district">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="province">จังหวัด*</label>
            <select id="province" class="form-control" ng-model="form.province">
              <option value="กรุงเทพมหานคร">กรุงเทพมหานคร   </option>
              <option value="กาญจนบุรี">กาญจนบุรี   </option>
              <option value="กาฬสินธุ์">กาฬสินธุ์   </option>
              <option value="กำแพงเพชร">กำแพงเพชร   </option>
              <option value="ขอนแก่น">ขอนแก่น   </option>
              <option value="จันทบุรี">จันทบุรี   </option>
              <option value="ฉะเชิงเทรา">ฉะเชิงเทรา   </option>
              <option value="ชลบุรี">ชลบุรี   </option>
              <option value="ชัยนาท">ชัยนาท   </option>
              <option value="ชัยภูมิ">ชัยภูมิ   </option>
              <option value="ชุมพร">ชุมพร   </option>
              <option value="ตรัง">ตรัง   </option>
              <option value="ตราด">ตราด   </option>
              <option value="ตาก">ตาก   </option>
              <option value="นครนายก">นครนายก   </option>
              <option value="นครปฐม">นครปฐม   </option>
              <option value="นครพนม">นครพนม   </option>
              <option value="นครราชสีมา">นครราชสีมา   </option>
              <option value="นครศรีธรรมราช">นครศรีธรรมราช   </option>
              <option value="นครสวรรค์">นครสวรรค์   </option>
              <option value="นนทบุรี">นนทบุรี   </option>
              <option value="นราธิวาส">นราธิวาส   </option>
              <option value="น่าน">น่าน   </option>
              <option value="บึงกาฬ">บึงกาฬ</option>
              <option value="บุรีรัมย์">บุรีรัมย์   </option>
              <option value="ปทุมธานี">ปทุมธานี   </option>
              <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์   </option>
              <option value="ปราจีนบุรี">ปราจีนบุรี   </option>
              <option value="ปัตตานี">ปัตตานี   </option>
              <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา   </option>
              <option value="พะเยา">พะเยา   </option>
              <option value="พังงา">พังงา   </option>
              <option value="พัทลุง">พัทลุง   </option>
              <option value="พิจิตร">พิจิตร   </option>
              <option value="พิษณุโลก">พิษณุโลก   </option>
              <option value="ภูเก็ต">ภูเก็ต   </option>
              <option value="มหาสารคาม">มหาสารคาม   </option>
              <option value="มุกดาหาร">มุกดาหาร   </option>
              <option value="ยะลา">ยะลา   </option>
              <option value="ยโสธร">ยโสธร   </option>
              <option value="ร้อยเอ็ด">ร้อยเอ็ด   </option>
              <option value="ระนอง">ระนอง   </option>
              <option value="ระยอง">ระยอง   </option>
              <option value="ราชบุรี">ราชบุรี   </option>
              <option value="ลพบุรี">ลพบุรี   </option>
              <option value="ลำปาง">ลำปาง   </option>
              <option value="ลำพูน">ลำพูน   </option>
              <option value="ศรีสะเกษ">ศรีสะเกษ   </option>
              <option value="สกลนคร">สกลนคร   </option>
              <option value="สงขลา">สงขลา   </option>
              <option value="สตูล">สตูล   </option>
              <option value="สมุทรปราการ">สมุทรปราการ   </option>
              <option value="สมุทรสงคราม">สมุทรสงคราม   </option>
              <option value="สมุทรสาคร">สมุทรสาคร   </option>
              <option value="สระบุรี">สระบุรี</option>
              <option value="สระแก้ว">สระแก้ว   </option>
              <option value="สิงห์บุรี">สิงห์บุรี   </option>
              <option value="สุพรรณบุรี">สุพรรณบุรี   </option>
              <option value="สุราษฎร์ธานี">สุราษฎร์ธานี   </option>
              <option value="สุรินทร์">สุรินทร์   </option>
              <option value="สุโขทัย">สุโขทัย   </option>
              <option value="หนองคาย">หนองคาย   </option>
              <option value="หนองบัวลำภู">หนองบัวลำภู   </option>
              <option value="อ่างทอง">อ่างทอง   </option>
              <option value="อำนาจเจริญ">อำนาจเจริญ   </option>
              <option value="อุดรธานี">อุดรธานี   </option>
              <option value="อุตรดิตถ์">อุตรดิตถ์   </option>
              <option value="อุทัยธานี">อุทัยธานี   </option>
              <option value="อุบลราชธานี">อุบลราชธานี   </option>
              <option value="เชียงราย">เชียงราย   </option>
              <option value="เชียงใหม่">เชียงใหม่   </option>
              <option value="เพชรบุรี">เพชรบุรี   </option>
              <option value="เพชรบูรณ์">เพชรบูรณ์   </option>
              <option value="เลย">เลย   </option>
              <option value="แพร่">แพร่   </option>
              <option value="แม่ฮ่องสอน">แม่ฮ่องสอน   </option>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="postcode">รหัสไปรษณี* (ตัวเลข 5 หลัก)</label>
            <input type="text" class="form-control" id="postcode" ng-model="form.postcode">
          </div>
        </div>
      </div>

      <input type="file" class="form-control"  file-model="file">

      <h3 class="text-right">
        <button type="submit" class="btn btn-primary" ng-click="submit()">สมัครสมาชิก</button>
      </h3>
    </div>
  </div>
</div>
<footer invokes="footer.invokes" delegates="footer.delegates" configs="footer.configs"></footer>
