
<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- Header -->
      <h2 class="text-left">รหัสงาน: {{job.id_project}}</h2>
      <h3 class="text-left" ng-show="job.status=='sent'">สถานะ: รอการประมูลจากช่าง</h3>
      <h3 class="text-left" ng-show="job.status=='reply'">สถานะ: รอการตัดสินใจจากลูกค้า</h3>
      <h3 class="text-left" ng-show="job.status=='finish'">สถานะ: เสร็จสิ้น</h3>
      <h3 class="text-left" ng-show="job.status=='cancel'">สถานะ: ยกเลิก</h3>
      <h3 class="text-left" ng-show="job.status=='deal'">สถานะ: ดำเนินการสร้าง</h3>
      <!-- Step 4 customer Information -->

      <h4 class="text-left">ข้อมูลการติดต่อ </h4>
      <dl class="dl-horizontal">
        <dt>เบอร์โทรศัพท์</dt>
        <dd>{{job.contact_tel}}</dd>
        <dt>อีเมล</dt>
        <dd>{{job.contact_email}}</dd>
        <dt>ที่อยู่</dt>
        <dd>{{job.contact_address}} {{job.contact_subdistrict}} {{job.contact_distract}} {{job.contact_province}}</dd>
      </dl>
      <!-- Step 4 table Information -->
      <h4 class="text-left">แบบโครงสร้างที่เลือกไว้</h4>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th class="text-center">รูปแบบ</th>
            <th class="text-center">ประเภท</th>
            <th class="text-center">กว้าง(ซม.)</th>
            <th class="text-center">สูง(ซม.)</th>
            <th class="text-center">จำนวน(ชุด)</th>
            <th class="text-center">ราคา(บาท)</th>
            <th class="text-center">รายละเอียด</th>
          </tr>
          <tr ng-repeat="structure in job.project_list_job">
            <td>{{structure.type}}</td>
            <td>{{structure.workType}}</td>
            <td>{{structure.width}}</td>
            <td>{{structure.height}}</td>
            <td>{{structure.number}}</td>
            <td>{{structure.cost}}</td>
            <td class="text-center">
              <button class="btn btn-info" ng-click="detailStructure(structure)" data-toggle="modal" data-target="#structureDetailModal">
                <span class="glyphicon glyphicon-th-list"></span>
              </button>
            </td>
          </tr>
        </table>
      </div>
      <!-- Step 4 technicians Information -->
      <h4 class="text-left">รายการช่างที่เลือกไว้</h4>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th class="text-center">ชื่อร้าน</th>
            <th class="text-center">ชื่อผู้รับเหมา</th>
            <th class="text-center">รายละเอียด</th>
            <th class="text-center">ราคาประมูล</th>
            <th class="text-center">เลือก</th>
          </tr>
          <tr ng-repeat="status in job.project_status">
            <td>{{status.list_craftman.shop_name}}</td>
            <td>{{status.list_craftman.name}}</td>
            <td class="text-center">
              <button class="btn btn-info" ng-click="detailCraftman(status.list_craftman)"  data-toggle="modal" data-target="#craftmanModal">
                <span class="glyphicon glyphicon-th-list"></span>
              </button>
            </td>
            <td ng-show="status.status == 'sent'" class="text-center">รอการตอบกลับราคา</td>
            <td ng-show="status.status != 'sent'" class="text-center">{{status.price}}</td>
            <td class="text-center">
              <button class="btn btn-success" ng-show="status.status == 'reply' ||  status.status == 'sent'" ng-disabled="status.status == 'sent'" ng-click="showDealJobConfirm(status.list_craftman.id_member)" data-toggle="modal" data-target="#dealJobModal" >
                <span class="glyphicon glyphicon-paste"></span>
              </button>
              <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="status.status == 'deal' || status.status == 'finish'"></span>
              <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="status.status == 'reject' || status.status == 'cancel'"></span>
            </td>
          </tr>
        </table>
      </div>
      <!-- Button-->
      <div class="text-right">
        <button class="btn btn-danger" ng-click="" ng-show="show.cancelButton" data-toggle="modal" data-target="#cancelJobModal">ยกเลิกงาน</button>
        <button class="btn btn-danger"  ng-click="" ng-show="show.finishButton" data-toggle="modal" data-target="#finishJobModal">ปิดงาน</button>
      </div>

      <!-- modal craftman -->
      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="craftmanModal" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
          <!-- modal content-->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">ข้อมูลช่าง</h4>
            </div>
            <div class="modal-body">
              <h4 class="text-left">ข้อมูลส่วนตัว</h4>
              <dl class="dl-horizontal">
                <dt>ชื่อ นามสกุล</dt>
                <dd>{{craftmanModal.name}} {{craftmanModal.surname}}</dd>
                <dt>เบอร์โทรศัพท์</dt>
                <dd>{{craftmanModal.tel}}</dd>
                <dt>อีเมล</dt>
                <dd>{{craftmanModal.email}}</dd>
              </dl>
              <h4 class="text-left">ข้อมูลร้าน</h4>
              <dl class="dl-horizontal">
                <dt>ชื่อร้าน</dt>
                <dd>{{craftmanModal.shop_name}}</dd>
                <dt>เบอร์โทรศัพท์ร้าน</dt>
                <dd>{{craftmanModal.tel_shop}}</dd>
                <dt>ที่อยู่</dt>
                <dd>{{craftmanModal.address}} {{craftmanModal.subdistrict}} {{craftmanModal.district}} {{craftmanModal.province}} {{craftmanModal.postcode}}</dd>
              </dl>
              <hr>
              <ng-map id="gpsMap" ng-if="readyForGpsMap">
                <marker position="{{mk.lat}},{{mk.lng}}" title="({{mk.lat}},{{mk.lng}})" >
              </ng-map>
            </div>
            <!-- end modal content-->
          </div>
        </div>
      </div>
      <!-- end modal -->

      <!-- Start Modal structure detail -->
      <div class="modal fade" id="structureDetailModal" tabindex="-1" role="dialog" aria-labelledby="structureDetailModal">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">รายละเอียดรูปแบบ</h4>
            </div>
            <div class="modal-body">
              <structure-detail invokes="structureDetail.invokes" delegates="structureDetail.delegates" configs="structureDetail.configs"></structure-detail>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Modal structure detail -->

      <!-- start deal  modal -->
      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="dealJobModal" aria-labelledby="dealJobModal">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              ยืนยันการเลือกช่าง
            </div>
            <div class="modal-body">
              เมื่อท่านเลือกช่าง การประมูลจะถูกยกเลิกสำหรับช่างคนอืนๆ เเละระบบจะส่งข้อมูลไปแจ้งยังช่างทุกคนที่ท่านเลือก
            </div>
            <div class="modal-footer">
              <div class="alert alert-danger" role="alert" ng-show="show.alertDeal">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                ไม่สามารถส่งประมูลได้
              </div>
              <button type="button" class="btn btn-success" ng-click="dealJob()">ยืนยัน</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end deal  modal -->

      <!-- start cancel  modal -->
      <div class="modal fade bs-example-modal" tabindex="-1" role="dialog" id="cancelJobModal" aria-labelledby="cancelJobModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              ยกเลิกงาน
            </div>
            <div class="modal-body">
              งานนี้จะถูกปิด การประมูลจะถูกยกเลิก เเละระบบจะส่งข้อมูลไปแจ้งยังช่างทุกคนที่ท่านเลือก
            </div>
            <div class="modal-footer">
              <div class="alert alert-danger" role="alert" ng-show="show.alertCancel">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                ไม่สามารถส่งประมูลได้
              </div>
              <button type="button" class="btn btn-success" ng-click="cancelJob()">ยืนยัน</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end cancel  modal -->

      <!-- start finish  modal -->
      <div class="modal fade bs-example-modal" tabindex="-1" role="dialog" id="finishJobModal" aria-labelledby="finishJobModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              ปิดงาน
            </div>
            <div class="modal-body">
              การปิดงานจะทำให้ท่านสามารถเเสดงความคิดเห็นเเละให้คะเเนนกับช่างได้
              <div class="form-group">
                <select id="score" class="form-control" ng-model="scoreJob">
                  <option value="1">1 คะแนน</option>
                  <option value="2">2 คะแนน</option>
                  <option value="3">3 คะแนน</option>
                  <option value="4">4 คะแนน</option>
                  <option value="5">5 คะแนน</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="ความคิดเห็น" ng-model="commentJob">
              </div>
            </div>
            <div class="modal-footer">
              <div class="alert alert-danger" role="alert" ng-show="show.alertFinish">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                ไม่สามารถส่งประมูลได้
              </div>
              <button type="button" class="btn btn-success" ng-click="finishJob()">ปิดงาน</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end finish  modal -->
    </div>
  </div>
</div>

<footer invokes="footer.invokes" delegates="footer.delegates" configs="footer.configs"></footer>
