<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">

      <!-- Start Step -->
      <div ng-show="show.main">
        <!-- direction -->
        <nav aria-label="Page navigation" class="text-center">
          <ul class="pagination pagination-lg">
            <li ng-class="{active: processNumber == 1}"><a>1</a></li>
            <li ng-class="{active: processNumber == 2}"><a>2</a></li>
            <li ng-class="{active: processNumber == 3}"><a>3</a></li>
          </ul>
        </nav>

        <!-- Step 1 -->
        <div ng-show="show.step[0]">
          <!-- Step 1 header -->
          <h2 class="text-center">กรอกข้อมูลการติดต่อเเละที่อยู่</h2>
          <!-- Step 1 form -->
          <div class="row">
              <div class="col-lg-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <label class="radio-inline">
                      <input type="radio" name="addressRadio" id="addressRadio1" value="0" ng-model="forms.addressRadio">ใช้ข้อมูลเดิม
                    </label>
                  </div>
                  <div class="panel-body">
                    <h4 class="text-left">ข้อมูลการติดต่อ</h4>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label class="control-label" for="oldPhone">เบอร์โทรศัพท์ (0XXXXXXXXX)</label>
                          <input type="text" class="form-control" id="oldPhone" ng-model="forms.customer.old.tel" disabled>
                        </div>
                      </div>
                    </div>
                    <h4 class="text-left">สถานที่ที่ตั้ง</h4>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label class="control-label" for="oldaddress">ที่อยู่</label>
                          <input type="text" class="form-control" id="oldaddress" ng-model="forms.customer.old.address" disabled>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label class="control-label" for="oldsubdistrict">ตำบล/แขวง</label>
                          <input type="text" class="form-control" id="oldsubdistrict" ng-model="forms.customer.old.subdistrict" disabled>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label class="control-label" for="olddistrict">อำเภอ/เขต</label>
                          <input type="text" class="form-control" id="olddistrict" ng-model="forms.customer.old.district" disabled>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm12 col-xs-12">
                        <div class="form-group">
                          <label for="oldprovince">จังหวัด:</label>
                          <select id="oldprovince" class="form-control" ng-model="forms.customer.old.province" disabled>
                            <option value="กรุงเทพมหานคร">กรุงเทพมหานคร   </option>
                            <option value="กาญจนบุรี">กาญจนบุรี   </option>
                            <option value="กาฬสินธุ์">กาฬสินธุ์   </option>
                            <option value="กำแพงเพชร">กำแพงเพชร   </option>
                            <option value="ขอนแก่น">ขอนแก่น   </option>
                            <option value="จันทบุรี">จันทบุรี   </option>
                            <option value="ฉะเชิงเทรา">ฉะเชิงเทรา   </option>
                            <option value="ชลบุรี">ชลบุรี   </option>
                            <option value="ชัยนาท">ชัยนาท   </option>
                            <option value="ชัยภูมิ">ชัยภูมิ   </option>
                            <option value="ชุมพร">ชุมพร   </option>
                            <option value="ตรัง">ตรัง   </option>
                            <option value="ตราด">ตราด   </option>
                            <option value="ตาก">ตาก   </option>
                            <option value="นครนายก">นครนายก   </option>
                            <option value="นครปฐม">นครปฐม   </option>
                            <option value="นครพนม">นครพนม   </option>
                            <option value="นครราชสีมา">นครราชสีมา   </option>
                            <option value="นครศรีธรรมราช">นครศรีธรรมราช   </option>
                            <option value="นครสวรรค์">นครสวรรค์   </option>
                            <option value="นนทบุรี">นนทบุรี   </option>
                            <option value="นราธิวาส">นราธิวาส   </option>
                            <option value="น่าน">น่าน   </option>
                            <option value="บึงกาฬ">บึงกาฬ</option>
                            <option value="บุรีรัมย์">บุรีรัมย์   </option>
                            <option value="ปทุมธานี">ปทุมธานี   </option>
                            <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์   </option>
                            <option value="ปราจีนบุรี">ปราจีนบุรี   </option>
                            <option value="ปัตตานี">ปัตตานี   </option>
                            <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา   </option>
                            <option value="พะเยา">พะเยา   </option>
                            <option value="พังงา">พังงา   </option>
                            <option value="พัทลุง">พัทลุง   </option>
                            <option value="พิจิตร">พิจิตร   </option>
                            <option value="พิษณุโลก">พิษณุโลก   </option>
                            <option value="ภูเก็ต">ภูเก็ต   </option>
                            <option value="มหาสารคาม">มหาสารคาม   </option>
                            <option value="มุกดาหาร">มุกดาหาร   </option>
                            <option value="ยะลา">ยะลา   </option>
                            <option value="ยโสธร">ยโสธร   </option>
                            <option value="ร้อยเอ็ด">ร้อยเอ็ด   </option>
                            <option value="ระนอง">ระนอง   </option>
                            <option value="ระยอง">ระยอง   </option>
                            <option value="ราชบุรี">ราชบุรี   </option>
                            <option value="ลพบุรี">ลพบุรี   </option>
                            <option value="ลำปาง">ลำปาง   </option>
                            <option value="ลำพูน">ลำพูน   </option>
                            <option value="ศรีสะเกษ">ศรีสะเกษ   </option>
                            <option value="สกลนคร">สกลนคร   </option>
                            <option value="สงขลา">สงขลา   </option>
                            <option value="สตูล">สตูล   </option>
                            <option value="สมุทรปราการ">สมุทรปราการ   </option>
                            <option value="สมุทรสงคราม">สมุทรสงคราม   </option>
                            <option value="สมุทรสาคร">สมุทรสาคร   </option>
                            <option value="สระบุรี">สระบุรี</option>
                            <option value="สระแก้ว">สระแก้ว   </option>
                            <option value="สิงห์บุรี">สิงห์บุรี   </option>
                            <option value="สุพรรณบุรี">สุพรรณบุรี   </option>
                            <option value="สุราษฎร์ธานี">สุราษฎร์ธานี   </option>
                            <option value="สุรินทร์">สุรินทร์   </option>
                            <option value="สุโขทัย">สุโขทัย   </option>
                            <option value="หนองคาย">หนองคาย   </option>
                            <option value="หนองบัวลำภู">หนองบัวลำภู   </option>
                            <option value="อ่างทอง">อ่างทอง   </option>
                            <option value="อำนาจเจริญ">อำนาจเจริญ   </option>
                            <option value="อุดรธานี">อุดรธานี   </option>
                            <option value="อุตรดิตถ์">อุตรดิตถ์   </option>
                            <option value="อุทัยธานี">อุทัยธานี   </option>
                            <option value="อุบลราชธานี">อุบลราชธานี   </option>
                            <option value="เชียงราย">เชียงราย   </option>
                            <option value="เชียงใหม่">เชียงใหม่   </option>
                            <option value="เพชรบุรี">เพชรบุรี   </option>
                            <option value="เพชรบูรณ์">เพชรบูรณ์   </option>
                            <option value="เลย">เลย   </option>
                            <option value="แพร่">แพร่   </option>
                            <option value="แม่ฮ่องสอน">แม่ฮ่องสอน   </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <label class="radio-inline">
                      <input type="radio" name="addressRadio" id="addressRadio2" value="1" ng-model="forms.addressRadio">ใช้ข้อมูลใหม่
                    </label>
                  </div>
                  <div class="panel-body">
                    <h4 class="text-left">ข้อมูลการติดต่อ</h4>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label class="control-label" for="newphone">เบอร์โทรศัพท์ (0XXXXXXXXX)</label>
                          <input type="text" class="form-control" id="newphone" ng-model="forms.customer.new.tel">
                        </div>
                      </div>
                    </div>
                    <h4 class="text-left">สถานที่ที่ตั้ง</h4>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label class="control-label" for="newaddress">ที่อยู่</label>
                          <input type="text" class="form-control" id="newaddress" ng-model="forms.customer.new.address">
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label class="control-label" for="newsubDistrict">ตำบล/แขวง</label>
                          <input type="text" class="form-control" id="newsubDistrict" ng-model="forms.customer.new.subdistrict">
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label class="control-label" for="newdistrict">อำเภอ/เขต</label>
                          <input type="text" class="form-control" id="newdistrict" ng-model="forms.customer.new.district">
                        </div>
                      </div>
                      <div class="col-md-12 col-sm12 col-xs-12">
                        <div class="form-group">
                          <label for="newprovince">จังหวัด:</label>
                          <select id="newprovince" class="form-control" ng-model="forms.customer.new.province">
                            <option value="กรุงเทพมหานคร">กรุงเทพมหานคร   </option>
                            <option value="กาญจนบุรี">กาญจนบุรี   </option>
                            <option value="กาฬสินธุ์">กาฬสินธุ์   </option>
                            <option value="กำแพงเพชร">กำแพงเพชร   </option>
                            <option value="ขอนแก่น">ขอนแก่น   </option>
                            <option value="จันทบุรี">จันทบุรี   </option>
                            <option value="ฉะเชิงเทรา">ฉะเชิงเทรา   </option>
                            <option value="ชลบุรี">ชลบุรี   </option>
                            <option value="ชัยนาท">ชัยนาท   </option>
                            <option value="ชัยภูมิ">ชัยภูมิ   </option>
                            <option value="ชุมพร">ชุมพร   </option>
                            <option value="ตรัง">ตรัง   </option>
                            <option value="ตราด">ตราด   </option>
                            <option value="ตาก">ตาก   </option>
                            <option value="นครนายก">นครนายก   </option>
                            <option value="นครปฐม">นครปฐม   </option>
                            <option value="นครพนม">นครพนม   </option>
                            <option value="นครราชสีมา">นครราชสีมา   </option>
                            <option value="นครศรีธรรมราช">นครศรีธรรมราช   </option>
                            <option value="นครสวรรค์">นครสวรรค์   </option>
                            <option value="นนทบุรี">นนทบุรี   </option>
                            <option value="นราธิวาส">นราธิวาส   </option>
                            <option value="น่าน">น่าน   </option>
                            <option value="บึงกาฬ">บึงกาฬ</option>
                            <option value="บุรีรัมย์">บุรีรัมย์   </option>
                            <option value="ปทุมธานี">ปทุมธานี   </option>
                            <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์   </option>
                            <option value="ปราจีนบุรี">ปราจีนบุรี   </option>
                            <option value="ปัตตานี">ปัตตานี   </option>
                            <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา   </option>
                            <option value="พะเยา">พะเยา   </option>
                            <option value="พังงา">พังงา   </option>
                            <option value="พัทลุง">พัทลุง   </option>
                            <option value="พิจิตร">พิจิตร   </option>
                            <option value="พิษณุโลก">พิษณุโลก   </option>
                            <option value="ภูเก็ต">ภูเก็ต   </option>
                            <option value="มหาสารคาม">มหาสารคาม   </option>
                            <option value="มุกดาหาร">มุกดาหาร   </option>
                            <option value="ยะลา">ยะลา   </option>
                            <option value="ยโสธร">ยโสธร   </option>
                            <option value="ร้อยเอ็ด">ร้อยเอ็ด   </option>
                            <option value="ระนอง">ระนอง   </option>
                            <option value="ระยอง">ระยอง   </option>
                            <option value="ราชบุรี">ราชบุรี   </option>
                            <option value="ลพบุรี">ลพบุรี   </option>
                            <option value="ลำปาง">ลำปาง   </option>
                            <option value="ลำพูน">ลำพูน   </option>
                            <option value="ศรีสะเกษ">ศรีสะเกษ   </option>
                            <option value="สกลนคร">สกลนคร   </option>
                            <option value="สงขลา">สงขลา   </option>
                            <option value="สตูล">สตูล   </option>
                            <option value="สมุทรปราการ">สมุทรปราการ   </option>
                            <option value="สมุทรสงคราม">สมุทรสงคราม   </option>
                            <option value="สมุทรสาคร">สมุทรสาคร   </option>
                            <option value="สระบุรี">สระบุรี</option>
                            <option value="สระแก้ว">สระแก้ว   </option>
                            <option value="สิงห์บุรี">สิงห์บุรี   </option>
                            <option value="สุพรรณบุรี">สุพรรณบุรี   </option>
                            <option value="สุราษฎร์ธานี">สุราษฎร์ธานี   </option>
                            <option value="สุรินทร์">สุรินทร์   </option>
                            <option value="สุโขทัย">สุโขทัย   </option>
                            <option value="หนองคาย">หนองคาย   </option>
                            <option value="หนองบัวลำภู">หนองบัวลำภู   </option>
                            <option value="อ่างทอง">อ่างทอง   </option>
                            <option value="อำนาจเจริญ">อำนาจเจริญ   </option>
                            <option value="อุดรธานี">อุดรธานี   </option>
                            <option value="อุตรดิตถ์">อุตรดิตถ์   </option>
                            <option value="อุทัยธานี">อุทัยธานี   </option>
                            <option value="อุบลราชธานี">อุบลราชธานี   </option>
                            <option value="เชียงราย">เชียงราย   </option>
                            <option value="เชียงใหม่">เชียงใหม่   </option>
                            <option value="เพชรบุรี">เพชรบุรี   </option>
                            <option value="เพชรบูรณ์">เพชรบูรณ์   </option>
                            <option value="เลย">เลย   </option>
                            <option value="แพร่">แพร่   </option>
                            <option value="แม่ฮ่องสอน">แม่ฮ่องสอน   </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>



        </div>
        <!-- End step 1 -->

        <!-- Step 2 -->
        <div ng-show="show.step[1]">
          <!-- Step 3 header -->
          <h2 class="text-center">เลือกผู้ว่าจ้าง</h2>
          <!-- Step 3 search -->
          <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
              <input type="text" class="form-control"ng-model="keyword" placeholder="ค้นหา">
            </div>
            <div class="col-xs-6 col-sm-1 col-md-1">
              <button class="btn btn-primary" ng-click="search()">ค้นหา</button>
            </div>
          </div>
          <!-- Step 3 list craftman -->
          <h4 class="text-left">รายการช่าง (พบ {{numObjs}} รายการ)</h4>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
              <tr>
                <th class="text-center">ชื่อร้าน</th>
                <th class="text-center">ชื่อผู้รับเหมา</th>
                <th class="text-center">ที่อยู่</th>
                <th class="text-center">คะแนน</th>
                <th class="text-center">รายละเอียด</th>
                <th class="text-center">เลือก</th>
              </tr>
              <tr ng-repeat="technician in technicians">
                <td>{{technician.shop_name}}</td>
                <td>{{technician.name}}</td>
                <td>{{technician.address}}</td>
                <td class="text-center">
                  {{technician.avg_score}} <span class="glyphicon glyphicon-star-empty"></span>
                </td>
                <td class="text-center">
                  <button class="btn btn-info" ng-click="detailTechnician(technician)" data-toggle="modal" data-target="#techDetailModal">
                    <span class="glyphicon glyphicon-th-list"></span>
                  </button>
                </td>
                <td class="text-center">
                  <button class="btn btn-success" ng-click="chooseTechnician($index)">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <div class="text-right">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li ng-class="{disabled: currentPage == 1}" ng-click="clickPage(currentPage-1)"><a href="" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li ng-class="{active: i == currentPage}" ng-click="clickPage(i)" ng-repeat="i in pages"><a href="">{{i}}</a></li>
                <li ng-class="{disabled: currentPage == numPage}" ng-click="clickPage(currentPage+1)"><a href="" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
              </ul>
            </nav>
          </div>

          <!-- Step 3 craftman selected -->
          <h4 class="text-left">รายการช่างที่เลือกไว้</h4>
          <div class="table-responsive">
            <table class="table table-striped table-bordered  table-condensed">
              <tr>
                <th class="text-center">ชื่อร้าน</th>
                <th class="text-center">ชื่อผู้รับเหมา</th>
                <th class="text-center">ที่อยู่</th>
                <th class="text-center">คะแนน</th>
                <th class="text-center">รายละเอียด</th>
                <th class="text-center">ยกเลิก</th>
              </tr>
              <tr ng-repeat="technician in forms.technicians">
                <td>{{technician.shop_name}}</td>
                <td>{{technician.name}}</td>
                <td>{{technician.address}}</td>
                <td class="text-center">
                  {{technician.avg_score}} <span class="glyphicon glyphicon-star-empty"></span>
                </td>
                <td class="text-center">
                  <button class="btn btn-info" ng-click="detailTechnician(technician)" data-toggle="modal" data-target="#techDetailModal">
                    <span class="glyphicon glyphicon-th-list"></span>
                  </button>
                </td>
                <td class="text-center">
                  <button class="btn btn-danger" ng-click="removeTechnician($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- End step 2 -->

        <!-- Step 3 -->
        <div ng-show="show.step[2]">
          <!-- Step 3 header -->
          <h2 class="text-center">ตรวจสอบความถูกต้องและยืนยัน</h2>
          <!-- Step 4 customer Information -->
          <h4 class="text-left">ข้อมูลการติดต่อ </h4>
          <dl class="dl-horizontal">
            <dt>เบอร์โทรศัพท์</dt>
            <dd>{{forms.customer.selected.tel}}</dd>
            <dt>ที่อยู่</dt>
            <dd>{{forms.customer.selected.address}} {{forms.customer.selected.subdistrict}} {{forms.customer.selected.district}} {{forms.customer.selected.province}}</dd>
          </dl>
          <!-- Step 3 table Information -->
          <h4 class="text-left">แบบโครงสร้างที่เลือกไว้</h4>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
              <tr>
                <th class="text-center">รูปแบบ</th>
                <th class="text-center">กว้าง(ซม.)</th>
                <th class="text-center">สูง(ซม.)</th>
                <th class="text-center">จำนวน(ชุด)</th>
                <th class="text-center">ราคา(บาท)</th>
                <th class="text-center">รายละเอียด</th>
              </tr>
              <tr ng-repeat="structure in forms.structures">
                <td>{{structure.type}}</td>
                <td>{{structure.width}}</td>
                <td>{{structure.height}}</td>
                <td>{{structure.number}}</td>
                <td>{{structure.cost}}</td>
                <td class="text-center">
                  <button class="btn btn-info" ng-click="detailStructure(structure)" data-toggle="modal" data-target="#structureDetailModal">
                    <span class="glyphicon glyphicon-th-list"></span>
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <h3 class="text-right">ราคารวม: {{forms.summaryCost}}</h3>
          <!-- Step 3 technicians Information -->
          <h4 class="text-left">รายการช่างที่เลือกไว้</h4>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
              <tr>
                <th class="text-center">ชื่อร้าน</th>
                <th class="text-center">ชื่อผู้รับเหมา</th>
                <th class="text-center">ที่อยู่</th>
                <th class="text-center">คะแนน</th>
                <th class="text-center">รายละเอียด</th>
              </tr>
              <tr ng-repeat="technician in forms.technicians">
                <td>{{technician.shop_name}}</td>
                <td>{{technician.name}}</td>
                <td>{{technician.address}}</td>
                <td class="text-center">
                  {{technician.avg_score}} <span class="glyphicon glyphicon-star-empty"></span>
                </td>
                <td class="text-center">
                  <button class="btn btn-info" ng-click="detailTechnician(technician)" data-toggle="modal" data-target="#techDetailModal">
                    <span class="glyphicon glyphicon-th-list"></span>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- End step 3 -->

        <nav>
          <ul class="pager">
            <li class="previous"><a href="" ng-click="back()" ng-show="show.button.back"><span aria-hidden="true">&larr;</span>ย้อนกลับ</a></li>
            <li class="next"><a href="" ng-click="next()" ng-show="show.button.next">ถัดไป<span aria-hidden="true">&rarr;</span></a></li>
            <li class="next"><a href="" ng-click="submit()" ng-show="show.button.submit">ยืนยัน</a></li>
          </ul>
        </nav>
      </div>
      <!-- end Step -->

      <!-- Start Modal structure detail -->
      <div class="modal fade" id="structureDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">รายละเอียดรูปแบบ</h4>
            </div>
            <div class="modal-body">
              <structure-detail invokes="structureDetail.invokes" delegates="structureDetail.delegates" configs="structureDetail.configs"></structure-detail>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal structure detail -->

      <!-- Start Modal tech detail -->
      <div class="modal fade" id="techDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">รายละเอียดช่าง</h4>
            </div>
            <div class="modal-body">
              <dl class="dl-horizontal">
                <dt>ชื่อร้าน</dt>
                <dd>{{modals.technician.shop_name}}</dd>
                <dt>ชื่อผู้รับเหมา</dt>
                <dd>{{modals.technician.name}}</dd>
                <dt>เบอร์โทรศัพท์</dt>
                <dd>{{modals.technician.tel}}</dd>
                <dt>เบอร์โทรศัพท์ร้าน</dt>
                <dd>{{modals.technician.tel_shop}}</dd>
                <dt>อีเมล</dt>
                <dd>{{modals.technician.email}}</dd>
                <dt>ที่อยู่</dt>
                <dd>{{modals.technician.address}}</dd>
                <dt>คะแนน</dt>
                <dd>{{modals.technician.score}}<span class="glyphicon glyphicon-star-empty"></span></dd>
              </dl>
              <hr>
              <ng-map id="gpsMap" ng-if="readyForGpsMap">
                <marker position="{{mk.lat}},{{mk.lng}}" title="({{mk.lat}},{{mk.lng}})" >
              </ng-map>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal tech detail -->

    </div>
  </div>
</div>

<footer invokes="footer.invokes" delegates="footer.delegates" configs="footer.configs"></footer>
